body{
    font-family: Roboto, sans-serif;
}

#carousel img{
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: #b30101;
    border: 3px solid #000;
}

#cabecalho .nav .nav-link.active {
    background-color:#000000;
    color: #ffffff;
}

#cabecalho .nav .nav-link, 
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #000000;
}

.navbar-toggler{
    background-color: #000000;
}

.section-title {
    font-family: "Titan One", sans-serif;

}

#sobre-loja,
#cardapio{
    background-color: #927a75;
}

.text-colored{
    color: #b30101;
}

.nav-cardapio .nav-link.active,
#fale-conosco button{
    background-color: #b30101;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: #000000;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img{
        height: 280px;
    }
    
}